/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&display=swap');
@import 'tailwindcss';
@import 'primeicons/primeicons.css';

@layer theme {
}

@layer utilities {
  .px-page {
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
  }

  .text-h2 {
    font-size: var(--text-h2);
  }


  .text-h3 {
    font-size: 32px;
    font-family: 'Averia Serif Libre', serif;
  }

  .text-h4 {
    font-size: 24px;
    font-family: 'Averia Serif Libre', serif;
  }

  .font-heading {
    font-family: 'Averia Serif Libre', serif;
  }

  .text-menulink {
    font-size: 24px;
    font-family: 'Averia Serif Libre', serif;
  }

  .bg-default {
    background-color: #cfd0d4;
  }

  .text-disabled {
    color: #737373;
  }

  .bg-accent-1 {
    background-color: var(--accent-1-color);
  }
  
  .hover\:bg-accent-1:hover {
    background-color: var(--accent-1-color);
  }

  .bg-accent-2 {
    background-color: var(--accent-2-color);
  }
  .bg-alternative {
    background-color: #c1c5d3;
  }

  .text-accent-2 {
    color: var(--accent-2-color);
  }

  .text-accent-1 {
    color: var(--accent-1-color);
  }

  .text-footer-link {
    font-size: 24px;
    font-family: 'Averia Serif Libre', serif;
  }

  .pt-page {
    padding-top: 64px;
  }

  .pb-page {
    padding-bottom: 64px;
  }

  .border-disabled-color {
    border-color: var(--disabled);
  }

  .placeholder\:text-disabled::placeholder {
    color: var(--disabled);
  }

  .input-max-width {
    max-width: 500px;
  }

  .input-min-width {
    min-width: 220px;
  }

  .font-averia {
    font-family: 'Averia Serif Libre', cursive;
  }

  .custom-shadow {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}

:root {
  --disabled: #737373;
  --page-padding: 4px;
  --sm-page-padding: 8px;
  --md-page-padding: 16px;
  --lg-page-padding: 32px;
  --xl-page-padding: 64px;
  --text-h2: 24px;
  --sm-text-h2: 48px;
  --md-text-h2: 48px;
  --lg-text-h2: 48px;
  --xl-text-h2: 64px;
  --accent-1-color: #455499;
  --accent-2-color: #5b71cc;
}

@media (min-width: 640px) {
  .sm\:px-page {
    padding-left: var(--sm-page-padding);
    padding-right: var(--sm-page-padding);
  }

  .sm\:text-h2 {
    font-size: var(--sm-text-h2);
  }
}

@media (min-width: 768px) {
  .md\:px-page {
    padding-left: var(--md-page-padding);
    padding-right: var(--md-page-padding);
  }

  .md\:text-h2 {
    font-size: var(--md-text-h2);
  }
}

@media (min-width: 1024px) {
  .lg\:px-page {
    padding-left: var(--lg-page-padding);
    padding-right: var(--lg-page-padding);
  }

  .lg\:text-h2 {
    font-size: var(--lg-text-h2);
  }
}

@media (min-width: 1280px) {
  .xl\:px-page {
    padding-left: var(--xl-page-padding);
    padding-right: var(--xl-page-padding);
  }

  .xl\:text-h2 {
    font-size: var(--xl-text-h2);
  }
}
